.clock {
    height: 100%;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 140px;
    font-family: sans-serif;
    display: flex;
    position: relative;
    /*background: green;*/
    overflow: hidden;
  }